torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
accelerate==0.34.2
transformers==4.45.0
diffusers==0.22.0
safetensors==0.4.5
triton==2.3.0
tokenizers==0.20.3
opencv-python==4.10.0.84
Pillow
albumentations==1.4.17
scikit-image==0.24.0
pycocotools==2.0.8
numpy==1.26.4
scipy==1.14.1
pandas==2.2.3
scikit-image==0.24.0
numba==0.60.0
mmcv==2.1.0
mmengine==0.10.5
mmdet==3.3.0
mmpretrain
matplotlib==3.9.2
seaborn==0.13.2
tqdm
PyYAML
filelock==3.14.0
fsspec==2024.3.1
einops==0.8.0
networkx
requests==2.28.2
rich==13.4.2
aliyun-python-sdk-core==2.15.2
aliyun-python-sdk-kms==2.16.5
oss2==2.17.0
pydantic==2.9.2
typing_extensions==4.11.0
timm==1.0.9